[submodule "contrib/deterministic-build/electrum-mac-icons"]
	path = contrib/deterministic-build/electrum-mac-icons
	url = https://github.com/machinecoin-project/electrum-mac-icons
[submodule "contrib/deterministic-build/electrum-mac-locale"]
	path = contrib/deterministic-build/electrum-mac-locale
	url = https://github.com/machinecoin-project/electrum-mac-locale
