# If you want Electrum to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum-mac.desktop

[Desktop Entry]
Comment=Lightweight Machinecoin Client
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\" electrum-mac %u"
GenericName[en_US]=Machinecoin Wallet
GenericName=Machinecoin Wallet
Icon=electrum-mac
Name[en_US]=Electrum Machinecoin Wallet
Name=Electrum Machinecoin Wallet
Categories=Finance;Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/machinecoin;
Actions=Testnet;

[Desktop Action Testnet]
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\" electrum-mac --testnet %u"
Name=Testnet mode
